html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

a {
	text-decoration: none;
}
h1,
h2,
h3,
p {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	font-family: 'Quicksand';
	font-weight: 400;
	font-size: 16px;
}



.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

p {
	color: #555;
}

.title {
	font-size: 36px;
	color: #000;
	font-weight: 400;
}

.breadcrumbs {
	&__inner {
		text-align: center;
		padding: 37px 30px;
	}
	&__item {
		display: inline-block;
		position: relative;
		
		& + & {
			padding-left: 24px;
			&::before {
				content: '/';
				position: absolute;
				left: 8px;
				color: #fff;
			}
		}
		&:last-child {
			.breadcrumbs__link,
			span {
				color: #bfcad7;
			}
		}
	}
	&__link {
		color: #fff;
	}
}