@import 'vars';
@import 'font';
@import 'global';


// header start 

.header {
    &__top {
        background-color: #eef1f3;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__menu-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        &-panel {
            margin-left: 50px;
        }
        &-link {
            display: inline-block;
        }
        &-link + &-link {
            margin-left: 15px;
        }
        &-icon {
            height: 20px;
        }
    }
    &__user-box {
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__user-avatar {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__user-text {
        margin-left: 22px;
    }
    &__user-link {
        color: #333;
        font-weight: 500;
        line-height: 22px;
    }
    &__user-price {
        color: $blue;
        font-size: 15px;
        line-height: 22px;
        text-align: left;
    }
    &__menu {
        background-color: #fff;
    }
}

.btn {
    width: 140px;
    border-radius: 18px;
    background-color: $blue;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    &__link {
        color: #ffffff;
        font-size: 14px;
        line-height: 28px;
        padding: 5px 5px;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        height: 80px;
    }
    &__item {
        display: inline-block;
    }
    &__item + &__item {
        margin-left: 30px;
    }
    &__link {
        color: #333333;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        line-height: 42px;
    }
}

.search__inner-form {
    position: relative;
    input {
        width: 360px;
        height: 46px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        font-size: 15px;
        &:focus {
            border: 1px solid #d9dfe5;
        }
        &::placeholder {
            color: #898f96;
            line-height: 30px;
            padding: 16px 25px;
            font-weight: 400;
        }
    }
    .search__btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        background-color: $blue;
        border: none;
        cursor: pointer;
        img {
            width: 16px;
            height: 16px;
        }
    }
}









